.container{
    height:100%;
    position: relative;
}
.transparent{
    display: none;
    width:100%;
    height:100%;
    background-color: #000;
    font-size:40px;
    color:#fff;
    font-weight: bold;
    text-align: center;
    padding-top:300px;
    z-index: 100;
    font-family: "微软雅黑";
    position: absolute;
    top:0;
    left:0;
}
.main-search{
    width:100%;
    height:70px;
    background-color: #52525a;
    margin:0;
    overflow: hidden;
}
.search-input{
    background: url("images/search.jpg") no-repeat 5% 50%;
    height:20px;
    margin:15px 30px;
    border-radius: 20px;
    background-color: #fff;
    color:#aaa;
    padding:10px 80px ;
    font-size:20px;
    position: relative;
}
.main_banner{
    width:375px;
    height:146px;
    overflow: hidden;
    position: relative;
}
.main_banner .banner_img{
    position: absolute;
    width:1500px;
}
.main_banner .banner_img li{
    float:left;
    width:375px;
    height:146px;
    overflow: hidden;

}
.banner_img li img{
    width:100%;
    height:100%;
}
.banner_btns{
    position: absolute;
    right:20px;
    bottom:20px;

}
.banner_btns li{
    float:left;
    list-style: none;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 20px;
}
.main-top{
    width:560px;
    margin:40px auto;

}
.main-top-left{
    float:left;
    width:200px;
    height:168px;
}
.main-top-right{
    float:left;
}
.clear-float:after{
    content: "";
    display: block;
    clear:both;
}
.clear-float{
    zoom:1;
}

.my-name{
    font-size:20px;
    color:#999;
}
.login-div{
    background-color: #e4366b;
    width:80%;
    height:50px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:20px;
    font-size: 30px;
    color:#fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}
.car-txt{
    text-align: center;
    line-height: 70px;
    font-size:18px;
    color:#fff;
}
.car-txt span#count{
    margin-right: 20px;
}
.car-txt span#sum{
    color:#e4366b;
    font-weight: bold;
}
.home-content-div{
    width:100%;
}
.home-goods{
    width:90%;
    height:120px;
    padding:5%;
    border-bottom: 1px solid #666;
}
.pic{
    width:100%;
    height:120px;
}
.goods-left{
    float:left;
    width:35%;
    height:120px;
    overflow:hidden;
}
.goods-right{
    float:right;
    width:60%;
    height:120px;
    position: relative;
}
.title-p{
    margin-top:10px;
    margin-right: 5px;
    line-height: 18px;
    color:#000;
    font-size:16px;
    font-weight: bold;
}
.goods-right-bottom{
    position: absolute;
    bottom:0;
}
.bottom-left{
    float:left;
    width:100px;
}
.bottom-left-p{
    font-size:16px;

}
.span-new{
    color:#e4366b;
    font-size:16px;
    font-weight:bold;
    margin-right:30px;
}
.discount{
    font-size:16px;
    color:#000;
    margin-top:10px;
    font-weight:bold;
}
.bottom-right{
    float:right;
}
.car-p{
    margin-top: 10px;
    font-size: 16px;
    color:#000;
}
.car-single{
    color: #e4366b;
    font-weight: bold;
    margin-right:30px;
}
.out-login{
    margin-top: 30px;
}
.classify-a{
  display: block;
  text-align: left;
  background-color: #fff;
  height:40px;
  width:80%;
  margin:0 auto;
  font-size:20px;
  line-height:40px;
  color:#333;
  text-decoration: none;
}
.classify-li{
    width:100%;
    height:40px;
    list-style: none;
    border-bottom: 1px solid #eee;
    background: url("images/libg.jpg") no-repeat 100% 0;
}










@media screen and (min-width:786px) {
    .transparent{
        display: block;
    }
}